/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for iGenomes paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using iGenome paths.
    Can be used by any config that customises the base path using:
        $params.igenomes_base / --igenomes_base
----------------------------------------------------------------------------------------
*/

params {
    // illumina iGenomes reference file paths
    genomes {
        'GRCh38' {
            gex = "${params.igenomes_base}/refdata/refdata-gex-GRCh38-2024-A"
            vdj = "${params.igenomes_base}/refdata/refdata-cellranger-vdj-GRCh38-alts-ensembl-7.1.0"
        }
        'GRCm39' {
            gex = "${params.igenomes_base}/refdata/refdata-gex-GRCm39-2024-A"
            vdj = "${params.igenomes_base}/refdata/refdata-cellranger-vdj-GRCm38-alts-ensembl-7.0.0"
        }
    }
}
