process {

    // Alignment configuration
    withName: "SAMPLESHEET_CHECK" {
        publishDir = [
            [
                path: { "${params.outdir}/pipeline_info" },
                mode: 'copy',
                overwrite: true
            ]
        ]
    }

    withName: "CELLRANGER_COUNT" {
        publishDir = [
            [
                path: { "${params.outdir}/data/${task.process}/" },
                mode: 'copy',
                overwrite: true
            ]
        ]
    }

    withName: "CELLRANGER_VDJ" {
        publishDir = [
            [
                path: { "${params.outdir}/data/${task.process}/" },
                mode: 'copy',
                overwrite: true
            ]
        ]
    }

    // QC configuration
    withName: "CELLBENDER" {
        ext.args = {
            [
                params.expected_cells ? "--expected-cells ${params.expected_cells}" : '',
                params.total_droplets ? "--total-droplets-included ${params.total_droplets}" : '',
                params.fpr ? "--fpr ${params.fpr}" : '',
                params.epochs ? "--epochs ${params.epochs}" : ''
            ].join(' ').trim()
        }
        ext.when = { !params.skip_cellbender }
        publishDir = [
            [
                path: { "${params.outdir}/data/${task.process}/${sample_id}" },
                mode: 'copy',
                overwrite: true
            ],
        ]
    }

    withName: "SEURAT_QUALITY" {
        ext.args = {
            [
                params.project_name ? "project_name:${params.project_name}" : '',
                params.thr_estimate_n_cells ? "thr_estimate_n_cells:${params.thr_estimate_n_cells}" : '',
                params.thr_mean_reads_per_cells ? "thr_mean_reads_per_cells:${params.thr_mean_reads_per_cells}" : '',
                params.thr_median_genes_per_cell ? "thr_median_genes_per_cell:${params.thr_median_genes_per_cell}" : '',
                params.thr_median_umi_per_cell ? "thr_median_umi_per_cell:${params.thr_median_umi_per_cell}" : '',
                params.thr_n_feature_rna_min ? "thr_n_feature_rna_min:${params.thr_n_feature_rna_min}" : '',
                params.thr_n_feature_rna_max ? "thr_n_feature_rna_max:${params.thr_n_feature_rna_max}" : '',
                params.thr_percent_mito ? "thr_percent_mito:${params.thr_percent_mito}" : '',
                params.thr_n_observed_cells ? "thr_n_observed_cells:${params.thr_n_observed_cells}" : '',
                "work_directory:\$PWD"
            ].join(' -P ').trim()
        }
        publishDir = [
            [
                path: { "${params.outdir}/data/${task.process}/${sample_id}" },
                mode: 'copy',
                overwrite: true
            ],
        ]
    }

    withName: "HELPER_SUMMARIZE" {
        ext.args = {
            [
                params.project_name ? "project_name:${params.project_name}" : '',
                "work_directory:\$PWD"
            ].join(' -P ').trim()
        }
        publishDir = [
            [
                path: { "${params.outdir}/" },
                pattern: 'report/*.html',
                mode: 'copy',
                overwrite: true
            ]
        ]
    }

    withName: "SEURAT_MERGE" {
        ext.args = {
            [
                params.project_name ? "project_name:${params.project_name}" : '',
                "work_directory:\$PWD"
            ].join(' -P ').trim()
        }
        publishDir = [
            [
                path: { "${params.outdir}/data/${task.process}" },
                pattern: 'data/*',
                mode: 'copy',
                overwrite: true
            ],
            [
                path: { "${params.outdir}/" },
                pattern: 'report/*.html',
                mode: 'copy',
                overwrite: true
            ],
        ]
    }

    withName: "SCDBLFINDER" {
        ext.args = {
                [
                    params.project_name ? "project_name:${params.project_name}" : '',
                    "work_directory:\$PWD"
                ].join(' -P ').trim()
            }
        ext.when = { !params.skip_scdblfinder }
        publishDir = [
            [
                path: { "${params.outdir}/data/${task.process}" },
                pattern: 'data/*',
                mode: 'copy',
                overwrite: true
            ],
            [
                path: { "${params.outdir}/" },
                pattern: 'report/*.html',
                mode: 'copy',
                overwrite: true
            ],
            [
                path: { "${params.outdir}/data/${task.process}" },
                pattern: '_freeze/**/figure-html/*.png',
                saveAs: { file -> file.endsWith('.png') ? "figures/${file.split('/').last()}" : null },
                mode: 'copy',
                overwrite: true
            ],
        ]
    }

    // Clustering configuration
    withName: "SEURAT_NORMALIZE" {
        ext.args = {
                [
                    params.project_name ? "project_name:${params.project_name}" : '',
                    params.thr_n_features ? "thr_n_features:${params.thr_n_features}" : '',
                    params.thr_n_dimensions ? "thr_n_dimensions:${params.thr_n_dimensions}" : '',
                    "work_directory:\$PWD"
                ].join(' -P ').trim()
            }
        publishDir = [
            [
                path: { "${params.outdir}/data/${task.process}" },
                pattern: 'data/*',
                mode: 'copy',
                overwrite: true
            ],
            [
                path: { "${params.outdir}/" },
                pattern: 'report/*.html',
                mode: 'copy',
                overwrite: true
            ],
            [
                path: { "${params.outdir}/data/${task.process}" },
                pattern: '_freeze/**/figure-html/*.png',
                saveAs: { file -> file.endsWith('.png') ? "figures/${file.split('/').last()}" : null },
                mode: 'copy',
                overwrite: true
            ],
        ]
    }

    withName: "SEURAT_CLUSTER" {
        ext.args = {
                [
                    params.project_name ? "project_name:${params.project_name}" : '',
                    paramas.input_integration_dimension ? "input_integration_dimension:${params.input_integration_dimension}" : "",
                    params.input_group_plot ? "input_group_plot:'${params.input_group_plot}'" : '',
                    params.thr_resolution ? "thr_resolution:${params.thr_resolution}" : '',                    
                    params.thr_proportion ? "thr_proportion:${params.thr_proportion}" : '',
                    "work_directory:\$PWD"
                ].join(' -P ').trim()
            }
        publishDir = [
            [
                path: { "${params.outdir}/data/${task.process}" },
                pattern: 'data/*',
                mode: 'copy',
                overwrite: true
            ],
            [
                path: { "${params.outdir}/" },
                pattern: 'report/*.html',
                mode: 'copy',
                overwrite: true
            ],
            [
                path: { "${params.outdir}/data/${task.process}" },
                pattern: '_freeze/**/figure-html/*.png',
                saveAs: { file -> file.endsWith('.png') ? "figures/${file.split('/').last()}" : null },
                mode: 'copy',
                overwrite: true
            ],
        ]
    }

}
