process {

    withLabel:process_medium {
        cpus   = { check_max( 8    * task.attempt, 'cpus'    ) }
        memory = { check_max( 20.GB * task.attempt, 'memory'  ) }
    }

    containerOptions = '--platform linux/amd64 -u root:root -e USERID=$UID -e XDG_CACHE_HOME=tmp/quarto_cache_home -e XDG_DATA_HOME=tmp/quarto_data_home -e QUARTO_PRINT_STACK=true'
    stageInMode = 'symlink'
    mode        = 'symlink'
    afterScript = 'rm -rf tmp'


}

params {
    // Limit resources so that this can run on GitHub Actions
    modality   = "GEX+TCR"
    outdir     = "output"
    
    max_cpus   = 8
    max_memory = '20.GB'
    max_time   = '6.h'
    
}